<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodreviewproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Haky Recipe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".OrganicListActivity"
            android:exported="true" />
        <activity
            android:name=".FastFoodListActivity"
            android:exported="true" />
        <activity
            android:name=".FoodListActivity"
            android:exported="true" />
        <activity
            android:name=".DrinksDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".InstagramActivity"
            android:exported="true" />
        <activity
            android:name=".FacebookActivity"
            android:exported="true" />
        <activity
            android:name=".DrinksListActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>